{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Analyse{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world-palestine.js"></script>


{% endblock %}

{% block content %}
<h1>Analyse</h1>
<hr>
<h2 style="text-align: center;">Les Dernieres Statistiques du {% now "d-m-Y" %} </h2>
<hr>
<div class="row">
    <div class="col">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Nouv Confirmés</div>
            <div class="card-body">
                <p class="card-text">{{globalSummary.NewConfirmed}}</p>
</div>
</div>
</div>
<div class="col">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Confirmés</div>
        <div class="card-body">
            <p class="card-text">{{globalSummary.TotalConfirmed}} </p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Nouveaux Décès</div>
        <div class="card-body">
            <p class="card-text">{{globalSummary.NewDeaths}} </p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Décès</div>
        <div class="card-body">
            <p class="card-text">{{globalSummary.TotalDeaths}}</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Nouveaux Guéris</div>
        <div class="card-body">

            <p class="card-text">{{globalSummary.NewRecovered}}</p>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Guéris</div>
        <div class="card-body">

            <p class="card-text">{{globalSummary.TotalRecovered}}</p>
        </div>
    </div>
</div>
</div>
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<hr>
<div id="MapContainer"></div>
<hr>
<h2 style="text-align: center;">Les Dernieres Statistiques Mises à Jours</h2>
<hr>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>Num</th>
                <th>Pays</th>
                <th>Total Confirmés</th>
                <th>Total Décès</th>
                <th>Total Guéris</th>
            </tr>
        </thead>
        <tbody>
            {% for c in countries %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{c.Country}}</td>
                <td>{{c.TotalConfirmed}}</td>
                <td>{{c.TotalDeaths}}</td>
                <td>{{c.TotalRecovered}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Num</th>
                <th>Pays</th>
                <th>Total Confirmés</th>
                <th>Total Décès</th>
                <th>Total Guéris</th>
            </tr>
        </tfoot>
    </table>
</div>
<br>
<hr>
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">
            <h2 style="text-align: center;">Top 5 des Pays aux Taux de Contamination le Plus élevé à la fin de
                {% now "d-m-Y" %} </h2>
            <canvas id="myChart"></canvas>
        </div>
        <div class="col py-3 px-lg-5 border bg-light">
            <h2 style="text-align: center;">Top 5 des Pays aux Taux de Décès le Plus élevé à la fin de <br>
                {% now "d-m-Y" %} </h2>
            <canvas id="myChartss"></canvas>
        </div>
    </div>
</div>
<hr>
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light">
            <h2 style="text-align: center;">Top 5 des Pays aux Taux de Guérison le Plus élevé à la fin de <br>
                {% now "d-m-Y" %} </h2>
            <canvas id="myChart3"></canvas>
        </div>
        <div class="col py-3 px-lg-5 border bg-light">
            <h2 style="text-align: center;">Répartition des proportions des cas de {% now "d-m-Y" %}</h2>
            <canvas id="myChartPie"></canvas>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{ l12 | safe}},
    datasets: [{
        label: '# de Contamination',
        data: {{ l11 | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',

    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',

    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    var ctx = document.getElementById('myChartss').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{ l02 | safe}},
    datasets: [{
        label: '# de Décès',
        data: {{ l01 | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',

    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',

    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    var ctx = document.getElementById('myChart3').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: {{ l22 | safe}},
    datasets: [{
        label: '# De Guérison',
        data: {{ l21 | safe}},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255,0.2)',

    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',

    ],
    
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


    var ctx = document.getElementById('myChartPie').getContext('2d');
    var myChartPie = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Décès', 'Guéris', 'Atteint'],
            datasets: [{
                data: [{{ globalSummary.TotalDeaths }}, {{ globalSummary.TotalRecovered }},{{ globalSummary.TotalConfirmed }}],
    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
    ],
        borderColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
        ],
            borderWidth: 1
        }],
        
}

})
</script>

<script type="text/javascript">
    //map chart
    var countries = {{ countries | safe }};
    var data = [];

    for (let key in countries) {
        data.push([countries[key].CountryCode.toLowerCase(), countries[key].TotalConfirmed])
    }


    // Create the chart
    Highcharts.mapChart('MapContainer', {
        chart: {
            map: 'custom/world-palestine'
        },

        title: {
            text: 'Total cases by country'
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
            min: 0,
            minColor: '#EEEEFF',
            maxColor: '#c0392b',
        },

        series: [{
            data: data,
            animation: {
                duration: 1000
            },
            name: 'Total cases',
            states: {
                hover: {
                    color: '#BADA55'
                }
            },


        }]
    });
</script>

{% endblock %}

{% block javascripts %}
{% endblock %}