{% extends 'layouts/base.html' %}

{% block title %} About {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock %}


{% block content %}
<style>
    body {
        background-image: url(/static/image/backg4.jpg);
        background-size: cover;
    }
</style>
    <h1>About</h1>
    <p>
    Le projet dataviz propose d'adapter et combiner plusieurs outils afin de visualiser, jour après jour, l'évolution
    des principaux chiffres, statistiques et articles en rapport avec le covid 19 ainsi que des graphes bien illustrés
    en vue de mieux présenter les données temporelles pays par pays.
    Et afin de mener à bien ce projet, on s'est basé sur plusieurs dimensions tel que le domaine médical, social et
    économique.
    </p>
{% endblock %}
