{% extends 'layouts/base.html' %}

{% block title %} About {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock %}


{% block content %}
<style>
    body {
        background-image: url(/static/image/backg4.jpg);
        background-size: cover;
    }
</style>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Mollitia eos incidunt ipsam minima odio deserunt, labore, rerum, et soluta illum dolorem quibusdam omnis eveniet.
        Cum rerum vel similique molestiae inventore.</p>
{% endblock %}